@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TypeType - TT Lakes Medium.ttf') format('ttf'),
    url('../fonts/TypeType - TT Lakes Condensed Bold.ttf') format('ttf');
    url('../fonts/TypeType - TT Lakes Compressed Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    background-color: #F8F8F8;
    margin: 0;
}

menu {
    width: 100%;
    margin: 0;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px #B8FFEC;
    display: flex;
    height: 88px;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

menu .menu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

/*menu .menu-container .menu-list-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

menu .menu-container .menu-list-left {
    display: flex;
    align-items: center;
    gap: 21px;
}*/
menu .menu-container .menu-list-right{
    display: flex;
}
menu .menu-container .menu-list-left ul, menu .menu-container .menu-list-right ul.before-devider, menu .menu-container .menu-list-right ul.after-devider {
    list-style-type: none;
    display: flex;
    align-items: center;
}

menu .menu-container .menu-list-right ul.before-devider li, menu .menu-container .menu-list-right ul.after-devider li {
    margin-right: 10px;
    padding-right: 10px; /* Add padding to create space for the divider */
    position: relative; /* Create a positioning context for the pseudo-element */
}

menu .menu-container .menu-list-right ul.after-devider {
    padding-left: 0;
}

menu .menu-container .menu-list-left ul li {
    margin-right: 20px;
    padding-right: 20px; /* Add padding to create space for the divider */
    position: relative; /* Create a positioning context for the pseudo-element */
}

menu .menu-container .menu-list-right ul.before-devider li:nth-child(3)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid #EAEAEA; /* Adjust the color and style of the divider */
}

menu .menu-container .menu-list-left ul li:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid #EAEAEA; /* Adjust the color and style of the divider */
}

.primary-nav {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
}

.primary-nav .title {
    color: #1B1C21;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
    padding: 10px 0 0 20px;
}

.primary-nav .title::before {
    content: '';
    position: relative;
    left: -20px;
    height: 35px;
    width: 3px;
    background-color: #41F6D7;
    border-radius: 5px;
}

.primary-nav .buttons {
    gap: 40px;

}

.primary-nav.buttons .button-repair, .primary-nav.buttons .button-status, .content .content-left .button-readmore {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.primary-nav .buttons .button-repair .button-repair-text,  .primary-nav .buttons .button-status .button-status-text, .content .content-left .button-readmore {
    color: #1B1C21;
    text-align: right;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.list-container {
    /*display: flex;*/
}

nav {
    width: 100%;
    height: 90px;
    margin: 30px 0;
}

nav ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent list items from wrapping to the next line */
}

nav ul li {
    margin: 0 30px 10px 0;
    padding: 8px 22px 8px 22px;
    list-style-type: none;
    transition: background-color 0.3s; /* Smooth transition effect */
    border: 2px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;     /* Include padding and border in total width and height */
}

nav ul li:hover {
    background-color: #fff; /* Change background color on hover */
    border: 2px solid #B8FFEC;
}

nav ul li a {
    text-decoration: none;
    color: #7E7E82;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.content {
    display: inline-flex;
    align-items: flex-start;
    gap: 68px;
    padding: 0 40px 0 40px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content .content-left p {
    color: #1B1C21;
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.content .content-left .p-content-third {
    display: none;
}

@media screen and (min-width: 1019px){
    menu {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1019px){ /* not more than 1119, but not less than 768*/

    .primary-nav .buttons {
        display: none;
    }
    .list-container nav {
        display: block;
        margin-bottom: 0;
    }

    .list-container nav ul {
        flex-direction: row; /* Display list items in a row */
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .content {
        padding: 0 10px 0 30px;
        gap: 68px;
    }

    .content img {
        max-width: 40%;
        height: auto;
    }

    .content .content-left .p-content-third {
        display: block;
    }

    .content .content-left .p-content-second {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    menu .menu-container .menu-list-left ul {
        padding: 10px;
    }

    menu .menu-container .menu-list-left ul li {
        margin-right: 10px;
        padding-right: 10px; /* Add padding to create space for the divider */
    }

    menu .menu-container .menu-list-left ul li:nth-child(2)::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 80%;
        border-right: 2px solid #EAEAEA; /* Adjust the color and style of the divider */
    }

    menu .menu-container .menu-list-left ul li:nth-child(1)::after {
        display: none;
    }

    menu .menu-container .menu-list-right ul.before-devider{
        display: none;
    }

    menu .menu-container .menu-list-left ul li.logo {
        padding-right: 30px;
    }

    .primary-nav .buttons {
        display: none;
    }

    .list-container nav {
        display: block;
        height: 50px;
        margin: 20px 0;
    }

    .list-container nav ul {
        flex-direction: row; /* Display list items in a row */
        flex-wrap: nowrap;
        overflow: hidden;
        padding: 0;
    }

    .content {
        display: contents;
        padding: 0;
    }


    .content .content-left {
        margin: 0 20px;
    }

    .content .content-left .p-content-second {
        display: none;
    }

    .content .content-left .button-readmore {
        margin: 0 0 20px 0;
    }
}